*.code-workspace
.DS_Store
.env
.env.development
.rsa_private.pem
.vscode
.zed
/extra/ssl/certbot
/extra/ssl/dhparam.pem
/extra/ssl/nginx*
/traefik/certs/*
/deploy/letsencrypt
# Ignore master key for decrypting credentials and more.
/config/master.key
.byebug_history
coverage/*vendor/bundle
coverage/

# Ignore Claude Code local settings
.claude/*
CLAUDE.md

.idea/
/api/.env.development
